{% extends 'system_manage/base.html' %}
{% import '_models.html' as model %}
{% block page %}
	<div class="user">
		<div class="d-flex justify-content-center align-items-center">
			<div class="mr-auto p-3">单位列表</div>
			<div class="p-2">
				<button class="btn btn-outline-dark"
						data-toggle="modal"
						data-target="#new-dept">+
					新增单位</button>
			</div>
		</div>
		<div class="list">
			<table class="table table-bordered text-center">
				<thead>
				<tr>
					<th>单位名</th>
					<th>归属系统</th>
					<th>单位属性</th>
					<th>操作</th>
				</tr>
				</thead>
				<tbody>
				{% for dept in depts %}
					<tr>
						<td style="width: 33%">
							{{ dept.name }}
						</td>
						<td>
							{{ dept.system }}
						</td>
						<td>
							{{ dept.dept_pro }}
						</td>
						<td>
							<button type="button" class="btn btn-link btn-sm"
									onclick="">
								编辑
							</button>
							<button href="#" class="btn btn-link btn-sm"
									onclick="deptDel('{{ dept.id }}')">
								删除
							</button>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			<div class="d-flex justify-content-center">
				{{ model.pagination_widget(
				pagination, 'index.system_manage_dept') }}
			</div>
		{{ model.dept_model('new-dept', 'add-dept', systems, dept_pros , '1') }}
		{{ model.dept_model('edit-dept', 'dept-form', systems, dept_pros , '2') }}
		</div>
	</div>
{% endblock %}