{% extends 'system_manage/base.html' %}
{% import '_models.html' as model %}
{% block page %}
	<div class="s_title">
		<div class="d-flex justify-content-center align-items-center">
			<div class="mr-auto p-3">职称列表</div>
			<div class="mr-1 p-3">
				<a href="/download" class="btn
				btn-info">模版下载</a>
			</div>
			<div class="upload">
				<span class="fileupload btn btn-primary">
					<span>更新职称</span>
					<input type="file" accept="application/vnd.ms-excel,
					application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
					id="fileUpLoad">
				</span>
			</div>
		</div>
		<div class="list">
			<table class="table table-bordered text-center">
				<thead>
				<tr>
					<th>职称名</th>
					<th>等级</th>
					<th>系列</th>
				</tr>
				</thead>
				<tbody>
				{% for title in titles %}
					<tr>
						<td style="width: 33%">{{ title['name'] }}</td>
						<td>{{ title['title_lv'] }}</td>
						<td>{{ title['title_dept'] }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			<div class="d-flex justify-content-center">
				{{ model.pagination_widget(pagination, 'index.system_manage_title') }}
			</div>
		</div>
	</div>
{% endblock %}