{% extends "base.html" %}
{% from 'bootstrap/utils.html' import render_static %}
{% block head %}
	{{ render_static('css', 'css/login.css') }}
{% endblock %}

{% block nav %}

{% endblock %}

{% block content %}
	{% block page_content %}
		<div class="login-box">
			<div class="box-body">
				<div class="content">
					<form action="" class="form" method="post">
{#						<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />#}
						<ul>
							<li class="text-center title">
								{{ system_name }}
							</li>
							<li>
								<input type="text" class="form-control" required
									   placeholder="账号名" name="username"/>
							</li>
							<li><input type="password" class="form-control"
									   placeholder="密码" required
									   name="password"/></li>
							<li class="inline">
								{% if error_message %}
									<div class="left reset_password">
										{{ error_message }}
									</div>
								{% endif %}
								<div class="right">
									<a href="">忘记密码</a>
								</div>
							</li>
							<li class="text-center">
								<button class="btn btn-info btn-lg"
										id="submit">登录</button>
							</li>
						</ul>
					</form>
				</div>
			</div>
		</div>
	{% endblock %}
{% endblock %}