.leftnav {
    font-size: 1rem;
    font-weight: 800;
    width: 11%;
    overflow: auto;
    background-color: #f0f0f0;
    text-shadow: 0.1em 0.1em rgba(0,0,0,0.1);
}

.leftnav a{
    color: #5e5e5e;
    font-weight: 800;
}

.leftnav a:hover{
    color: #0c3e67;
}

.leftnav ul {
    color: #0f0f0f;
}

.left-list{
    font-size: 0.5rem;!important;
    /*background-color: rgba(39, 85, 130, 0.6);*/
}

.left-list a{
    margin-bottom: .3em;
    font-size: 0.5rem;

}
