html, body {
    width:100%;
    height:100%;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body a:hover {
    text-decoration: none;!important;
    cursor: pointer;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main {
    position: absolute;
    margin: 0;
    padding: 0;
    min-height: 650px;
    height: 80%;
    width: 100%;
}

.navbar {
    /*box-shadow: 0 0 15px 0 rgba(0,0,0,.85);*/
    /*transition: all 250ms;*/
}

.bg-blue {
    background-color: #0c3e67;
    /*height: 6.5rem;*/
    font-size: 3rem;
}

.bg-blue2 {
    /*height: 2.3rem;*/
    background-color: rgba(12, 62, 103, 0.85);
}

.content {
    width:100%;
    height:100%;
}

a.navbar-brand {
    font-size: 2.5rem;
    font-family: cursive, Helvetica, Arial, sans-serif;
}

.logo {
    color: white;
    font-family: cursive;
}

.nav-link {
    font-size: 1rem;
}

@media (min-width: 768px){
    .navbar-nav {
        font-size: 0.6rem;!important;
    }
}
@media (min-width: 992px){
    .navbar-nav {
        font-size: 0.8rem;!important;
    }
}
@media (min-width: 1200px){
    .navbar-nav {
        font-size: 1.2rem;!important;
    }
}

