{% extends 'iframe_base.html' %}
{% from 'bootstrap/utils.html' import render_static %}
{% block head %}
	{{ render_static('css', 'css/search.css') }}
{% endblock %}
{% block content %}
	<div class="iframe-content">
		<div class="search d-flex flex-row">
			<div class="title">综合查询</div>
		</div>
		<form action="/per/search-result" method="post" id="search-form">
			<div class="info_manage">
				<div class="container-fluid">
					<div class="search-btn mt-3">
						<button type="button" class="btn btn-sm btn-outline-dark"
										data-toggle="modal" data-target="#show-search">
							新增查询 +
						</button>
					</div>
					<div class="search-table-c mt-3 table-responsive p-3" id="add-search">

						<div class="form-group p-3">
							<button type="button" class="del-this close"
											onclick="del_this(this)">&times;</button>
							<label for="s-name">姓名</label>
							<input type="text" class="form-control"
										 placeholder="查询多个姓名请使用 '|' 进行分割，如：张三|李四。"
										 name="name"/>
						</div>
					</div>

				</div>
				<div class="input-group justify-content-end mt-3">
					<button type="submit" class="btn btn-outline-dark
				mr-3">提交</button>
					<button type="reset" class="btn btn-outline-dark
				mr-3">重置</button>
				</div>
			</div>
		</form>
	</div>

	<div class="modal fade" id="show-search" tabindex="-1"
			 role="dialog" aria-labelledby="myModalLabel"
			 aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title">选择查询项</h4>
				</div>
				<div class="modal-body">
					<div class="row" id="modal-btn">
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
	{% include 'search/condition_search_js.html' %}
{% endblock %}