{% extends 'iframe_base.html' %}
{% import 'per/_models.html' as model %}
{% from 'bootstrap/utils.html' import render_static %}
{% block head %}
  <style>
    .per-content {
      height: 100%;
      width: 100%;
    }
    .per-table {
      padding: 1.2rem 1rem;
      width: 100%;
      height: 100%;
    }
    .tab-content {
      width: 100%;
      min-height: 90%;
    }
    .fade {
      width: 100%;
      height: 90%;
    }
    #info-tbody td {
      font-size: 0.85rem;
      max-height: 1rem;
    }

    #info-tbody td>span{
      display: block;
      padding-top: 0.4rem;
      min-width: 6rem;
    }

    #info-tbody tr > td > div{
      vertical-align: center;
      display: inline-block;
      padding-top: 0.4rem;
      min-width: 6rem;
    }

    form#add-per {
      width: 100%;
      height: 100%;
    }
    td.index, th.index{
      width: 3em;
      padding-top: 1em;
    }
    table tbody{
      font-size: 0.875rem;
    }
    td.index {
      padding-top: 1.1rem;
    }
    td select {
      min-width: 5rem;
    }
  </style>
{% endblock %}
{% block content %}
  <div class="iframe-content">
    <div class="search d-flex mb-2">
      <div class="title">{{ title }}</div>
    </div>
    <div class="per-content">
      <form id="add-per">
        {% include 'per/infotable.html' %}
        {% if current_user.role.id == 1 %}
          <div class="input-group justify-content-end">
          <button type="submit" class="btn btn-outline-dark
				mr-3">提交</button>
          <button type="reset" class="btn btn-outline-dark
				mr-3">重置</button>
        {% endif %}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
{% block script %}
  {{ render_static('js', 'js/per.js') }}
  <script>


  </script>
  <script>
      var temp;

      var f_count = myCount();
      f_count.init({{ f_count|default(0) }});

      var r_and_p_count = myCount();
      r_and_p_count.init({{ r_and_p_count|default(0) }});

      var edu_count = myCount();
      edu_count.init({{ edu_count|default(0) }});

      var title_count = myCount();
      title_count.init({{ title_count|default(0) }});

      var resume_count = myCount();
      resume_count.init({{ resume_count|default(0) }});

      var _edu_lv = [];
      {% for temp in edu_lv %}
          temp = [];
          temp.push({{ temp[0] }});
          temp.push("{{ temp[1] }}");
          _edu_lv.push(temp);
      {% endfor %}

      var _learn_from = [];
      {% for temp in learn_form %}
          temp = [];
          temp.push({{ temp[0] }});
          temp.push("{{ temp[1] }}");
          _learn_from.push(temp);
      {% endfor %}

      var _titles = {};
      {% for title in title_names %}
          _titles["{{ title[0] }}"] = ["{{ title[2] }}", "{{ title[3] }}"];
      {% endfor %}

      var _dept_names = {};
      {% for name in dept_names %}
          _dept_names["{{ name[0] }}"] = ["{{ name[2] }}", "{{ name[3] }}"];
      {% endfor %}

      var title_change = function (id) {
          var tds = $('#'+ id).find('td');
          var title_id = tds.eq(3).find('select').val();
          tds.eq(2).find('input').val(_titles[title_id][1]);
          tds.eq(1).find('input').val(_titles[title_id][0]);
      };

      var dept_name_change = function () {
          var dept_id = $('#dept_name').val();
          $('#system').val(_dept_names[dept_id][0]);
          $('#dept_pro').val(_dept_names[dept_id][1]);
      };

      var title_name = "<td class='input-group-inline input-group-sm'>" +
          "<select class='mt-1'>" +
          {% for title in title_names %}
              "<option value=\"{{ title[0] }}\">{{ title[1] }}</option>" +
          {% endfor %}
          "</select>" +
          "</td>";

      var get_info = function () {
          var info_dic = {};
          info_dic.cadre_id = $('#cadre_id').val();
          info_dic.dept_name = $('#dept_name').val();
          info_dic.name = $('#name').val();
          info_dic.sex = $('input[name="sex"]').val();
          info_dic.nation = $('#nation').val();
          info_dic.specialty = $('#specialty').val();
          info_dic.photo_src = $('#photo_src').attr("src");
          info_dic.id_card = $('#id_card').val();
          info_dic.birthday = $('#birthday').val();
          info_dic.age = $('#age').val();
          info_dic.policital_status = $('#policital_status').val();
          info_dic.identity = $('#identity').val();
          info_dic.party_member = $('#party_member').val();
          info_dic.work_time = $('#work_time').val();
          info_dic.native_place = $('#native_place').val();
          info_dic.birth_place = $('#birth_place').val();
          info_dic.work_no = $('#work_no').val();
          info_dic.s_work_year = $('#s_work_year').val();
          info_dic.bonus = $('#bonus').val();
          info_dic.duty = $('#duty').val();
          info_dic.duty_lv = $('#duty_lv').val();
          info_dic.remarks = $('#remarks').val();
          info_dic.deputy_sc_time = $('#deputy_sc_time').val();
          info_dic.sc_time = $('#sc_time').val();
          info_dic.position_time = $('#position_time').val();
          info_dic.VGM_time = $('#VGM_time').val();
          info_dic.agent_time = $('#agent_time').val();
          info_dic.remarks_2 = $('#remarks_2').val();
          return info_dic
      }


      $(document).ready(function () {
          $('.mydate').datepicker({
              language: "zh-CN"
          });
          {% if current_user.role.id != 1 %}
              $('input').attr('disabled', 'true');
              $('select').attr('disabled', 'true');
          {% endif %}
          $('#dept_name').bind('change', dept_name_change);
          $('#birthday').bind('change', function () {
              var birthday = $('#birthday').val();
              var age = moment(birthday, "YYYY年MM月DD日").fromNow(true);
              var re = /(\d{1,2}) [年]/;
              if (re.test(age))
                  $('#age').val(re.exec(age)[1]);
          });

          // 监听form表单
          $('#add-per').bind('submit', function () {
              var data = JSON.stringify({
                  families: get_families(),
                  r_and_p: get_r_and_p(),
                  edus: get_edu(),
                  titlies: get_title(),
                  resumes: get_resume(),
                  info: get_info()
              });

              var _success = function (data) {
                  alert(data.message);
                  location.href = '/search';
              };

              a_json(
                  '/v1/manage-per',
                  'POST',
                  data,
                  _success
              );

              return false;
          })
      });
  </script>

{% endblock %}