<div class="new-edu">
  {% if current_user.role.id == 1 %}
	<button class="btn btn-outline-dark" type="button" id="add-edu-tr">
		+ 新增
	</button>
  {% endif %}
</div>
<div class="edu-tab mt-2">
	<table class="table table-bordered text-center">
		<thead>
		<tr>
			<th class="index">序&nbsp;&nbsp;号</th>
			<th>学&nbsp;&nbsp;历</th>
			<th>入学时间</th>
			<th>毕业时间</th>
			<th>毕业院校</th>
			<th>专业</th>
			<th>学位</th>
			<th>学习形式</th>
			<th>操作</th>
		</tr>
		</thead>
		<tbody id="edu-tbody">
		</tbody>
	</table>
</div>