<div class="info-tab mt-2">
	<table class="table table-bordered text-center">
		<tbody id="info-tbody">
		<tr>
			<td>
				<span>编号</span>
			</td>
			<td class='input-group-inline input-group-sm'>
				<input type="text" id="cadre_id"
							 class="form-control" value="{{ per['cadre_id'] or '' }}"
							 placeholder="空"/>
			</td>
			<td>
				<span>单位简称</span>
			</td>
			<td colspan="2" class='input-group-inline input-group-sm'>
				<select name="dept_name" id="dept_name" class="form-control">
					{% for name in dept_names %}
						<option value="{{ name[0] }}"
										{% if name[1] == per['dept_name'] or '' %}
										selected
										{% endif %}
						>{{ name[1] }}</option>
					{% endfor %}
				</select>
			</td>
			<td>
				<span>系统</span>
			</td>
			<td class='input-group-inline input-group-sm'>
				<input type="text" id="system" disabled
							 class="form-control" value="{{ per['system'] or '' }}"
							 placeholder="{{ dept_names[0][2] }}"/>
			</td>
			<td>
				<span>单位属性</span>
			</td>
			<td class='input-group-inline input-group-sm' colspan="2">
				<input type="text" id="dept_pro" disabled
							 class="form-control" value="{{ per['dept_pro'] or '' }}"
							 placeholder="{{ dept_names[0][3] }}"/>
			</td>
			<td colspan="2" rowspan="4">
				<div class="d-flex flex-column align-items-center">
					<img src="{{ per['photo_src']|default('/static/image/timg.jpg')}}"
							 alt="" width="122" height="185"
							 class = "img-thumbnail" id="photo_src">
					<div class="fileupload">
						<input type="file" accept="image/jpeg, image/png" id="img-input">
						<button class="btn btn-default btn-sm mt-3" type="button">上传</button>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<span>姓名</span>
			</td>
			<td class='input-group-inline input-group-sm'>
				<input type="text" id="name"
							 class="form-control" value="{{ per['name'] or '' }}"
							 placeholder="空"/>
			</td>
			<td>
				<span>性别</span>
			</td>
			<td class='input-group-inline input-group-sm' colspan="2">
				<div class="form-check form-check-inline">
					<input type="radio" name="sex" id="sex1"
									{% if per['sex'] != '女' %} checked {% endif %}
								 class="form-check-input" value="男"/>
					<label for="sex1" class="form-check-label">男</label>
				</div>
				<div class="form-check form-check-inline">
					<input type="radio" name="sex" id="sex2"
									{% if per['sex'] == '女' %} checked {% endif %}
								 class="form-check-input" value="女"/>
					<label for="sex2" class="form-check-label">女</label>
				</div>
			</td>
			<td>
				<span>民族</span>
			</td>
			<td class='input-group-inline input-group-sm'>
				<input type="text" id="nation"
							 class="form-control" value="{{ per['nation'] or '' }}"
							 placeholder="空"/>
			</td>
			<td>
				<span>专长</span>
			</td>
			<td class='input-group-inline input-group-sm' colspan="2">
				<input type="text" id="specialty"
							 class="form-control" value="{{ per['specialty'] or '' }}"
							 placeholder="空"/>
			</td>
		</tr>
		<tr>
			<td>
				<span>身份证号</span>
			</td>
			<td class='input-group-inline input-group-sm' colspan="4">
				<input type="text" id="id_card"
							 class="form-control" value="{{ per['id_card'] or '' }}"
							 placeholder="空"/>
			</td>
			<td>
				<span>出生日期</span>
			</td>
			<td class='input-group-inline input-group-sm'>
				<input type="text" id="birthday"
							 class="form-control mydate" value="{{ per['birthday'] or '' }}"
							 placeholder="空"/>
			</td>
			<td>
				<span>年龄</span>
			</td>
			<td class='input-group-inline input-group-sm' colspan="2">
				<input type="text" id="age"  disabled
							 class="form-control" value="{{ per['age'] or '' }}"
							 placeholder="0"/>
			</td>
		</tr>
		<tr>
			<td>
				<span>政治面貌</span>
			</td>
			<td class='input-group-inline input-group-sm'>
				<input type="text" id="policital_status"
							 class="form-control" value="{{ per['policital_status'] or '' }}"
							 placeholder="空"/>
			</td>
			<td>
				<span>身份</span>
			</td>
			<td class='input-group-inline input-group-sm' colspan="2">
				<input type="text" id="identity"
							 class="form-control" value="{{ per['identity'] or '' }}"
							 placeholder="空"/>
			</td>
			<td>
				<span>入党时间</span>
			</td>
			<td class='input-group-inline input-group-sm'>
				<input type="text" id="party_member"
							 class="form-control mydate" value="{{ per['party_member'] or ''}}"
							 placeholder="空"/>
			</td>
			<td>
				<span>参加工作时间</span>
			</td>
			<td class='input-group-inline input-group-sm' colspan="2">
				<input type="text" id="work_time"
							 class="form-control mydate" value="{{ per['work_time'] or '' }}"
							 placeholder="空"/>
			</td>

		</tr>
		<tr>
			<td>
				<span>籍贯</span>
			</td>
			<td class='input-group-inline input-group-sm'>
				<input type="text" id="native_place"
							 class="form-control" value="{{ per['native_place'] or '' }}"
							 placeholder="空"/>
			</td>
			<td>
				<span>出生地</span>
			</td>
			<td class='input-group-inline input-group-sm' colspan="2">
				<input type="text" id="birth_place"
							 class="form-control" value="{{ per['birth_place'] or '' }}"
							 placeholder="空"/>
			</td>
			<td>
				<span>工号</span>
			</td>
			<td class='input-group-inline input-group-sm' >
				<input type="number" id="work_no"
							 class="form-control" value="{{ per['work_no'] or '' }}"
							 placeholder="空"/>
			</td>
			<td>
				<span>特殊工种年限</span>
			</td>
			<td class='input-group-inline input-group-sm' colspan="1">
				<input type="text" id="s_work_year"
							 class="form-control" value="{{ per['s_work_year'] or '' }}"
							 placeholder="空"/>
			</td>
			<td>
				<span>状态</span>
			</td>
			<td class='input-group-inline input-group-sm' colspan="3">
				<select name="state" id="state" class="form-control">
					{% for state in states %}
						<option value="{{ state[0] }}"
										{% if state[0] == per['state_id']  %}
										selected
										{% endif %}
						>{{ state[1] }}</option>
					{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<td>
				<span>荣誉金</span>
			</td>
			<td class='input-group-inline input-group-sm'>
				<input type="text" id="bonus"
							 class="form-control" value="{{ per['bonus'] or '' }}"
							 placeholder="空"/>
			</td>
			<td>
				<span>职务</span>
			</td>
			<td class='input-group-inline input-group-sm'>
				<input type="text" id="duty"
							 class="form-control" value="{{ per['duty_name'] or '' }}"
							 placeholder="暂无"/>
			</td>
			<td>
				<span>级别</span>
			</td>
			<td class='input-group-inline input-group-sm'>
				<select name="duty_lv" id="duty_lv" class="form-control">
					{% for lv in duty_lvs %}
						<option value="{{ lv[0] }}"
										{% if lv[0] == per['duty_level_id']  %}
										selected
										{% endif %}
						>{{ lv[1] }}</option>
					{% endfor %}
				</select>
			</td>
			<td>
				<span>调入备注</span>
			</td>
			<td class='input-group-inline input-group-sm' colspan="5">
				<input type="text" id="remarks"
							 class="form-control" value="{{ per['remarks_2'] or '' }}"
							 placeholder="空"/>
			</td>
		</tr>
		<tr>
			<td>
				<span>现有职称</span>
			</td>
			<td class='input-group-inline input-group-sm'>
				<input type="text" id="title" disabled
							 class="form-control" value="{{ per['title_name'] or '' }}"
							 placeholder="暂无"/>
			</td>
			<td>
				<span>任副科级时间</span>
			</td>
			<td class='input-group-inline input-group-sm'>
				<input type="text" id="deputy_sc_time"
							 class="form-control mydate"
							 value="{{ per['deputy_sc_time'] or '' }}"
							 placeholder="空"/>
			</td>
			<td>
				<span>任正科级时间</span>
			</td>
			<td class='input-group-inline input-group-sm'>
				<input type="text" id="sc_time"
							 class="form-control mydate" value="{{ per['sc_time'] or '' }}"
							 placeholder="空"/>
			</td>
			<td>
				<span>任现职时间</span>
			</td>
			<td class='input-group-inline input-group-sm'>
				<input type="text" id="position_time"
							 class="form-control mydate"
							 value="{{ per['position_time'] or '' }}"
							 placeholder="空"/>
			</td>
			<td>
				<span>任副总时间</span>
			</td>
			<td class='input-group-inline input-group-sm'>
				<input type="text" id="VGM_time"
							 class="form-control mydate" value="{{ per['VGM_time'] or '' }}"
							 placeholder="空"/>
			</td>
			<td>
				<span>任代理时间</span>
			</td>
			<td class='input-group-inline input-group-sm'>
				<input type="text" id="agent_time"
							 class="form-control mydate" value="{{ per['agent_time'] or '' }}"
							 placeholder="空"/>
			</td>
		</tr>
		<tr id="max_edu">
			<td>最高学历</td>
			<td class='input-group-inline input-group-sm'>
				<input type="text" disabled
							 class="form-control" value="{{ per['max_edu_lv'] or '' }}"
							 placeholder="暂无"/>
			</td>
			<td>入学时间</td>
			<td class='input-group-inline input-group-sm'>
				<input type="text" disabled
							 class="form-control" value="{{ per['max_edu_in_time'] or '' }}"
							 placeholder="暂无"/>
			</td>
			<td>毕业时间</td>
			<td class='input-group-inline input-group-sm'>
				<input type="text" disabled
							 class="form-control" value="{{ per['max_edu_time'] or '' }}"
							 placeholder="暂无"/>
			</td>
			<td>毕业院校</td>
			<td class='input-group-inline input-group-sm'>
				<input type="text" disabled
							 class="form-control" value="{{ per['max_edu_name'] or '' }}"
							 placeholder="暂无"/>
			</td>
			<td>专业</td>
			<td class='input-group-inline input-group-sm'>
				<input type="text" disabled
							 class="form-control" value="{{ per['max_edu_dept'] or '' }}"
							 placeholder="暂无"/>
			</td>
			<td>学习形式</td>
			<td class='input-group-inline input-group-sm'>
				<input type="text" disabled
							 class="form-control"
							 value="{{ per['max_edu_learn_form'] or '' }}"
							 placeholder="暂无"/>
			</td>
		</tr>
		<tr id="all_time_edu">
			<td>全日制学历</td>
			<td class='input-group-inline input-group-sm'>
				<input type="text" disabled
							 class="form-control" value="{{ per['at_edu_lv'] or '' }}"
							 placeholder="暂无"/>
			</td>
			<td>入学时间</td>
			<td class='input-group-inline input-group-sm'>
				<input type="text" disabled
							 class="form-control" value="{{ per['at_edu_in_time'] or '' }}"
							 placeholder="暂无"/>
			</td>
			<td>毕业时间</td>
			<td class='input-group-inline input-group-sm'>
				<input type="text" disabled
							 class="form-control" value="{{ per['at_edu_time'] or '' }}"
							 placeholder="暂无"/>
			</td>
			<td>毕业院校</td>
			<td class='input-group-inline input-group-sm'>
				<input type="text" disabled
							 class="form-control" value="{{ per['at_edu_name'] or '' }}"
							 placeholder="暂无"/>
			</td>
			<td>专业</td>
			<td class='input-group-inline input-group-sm'>
				<input type="text" disabled
							 class="form-control" value="{{ per['at_edu_dept'] or '' }}"
							 placeholder="暂无"/>
			</td>
			<td>学习形式</td>
			<td class='input-group-inline input-group-sm'>
				<input type="text" disabled
							 class="form-control" value="{{ per['at_edu_learn_form'] or '' }}"
							 placeholder="暂无"/>
			</td>
		</tr>
		<tr id="work_edu">
			<td>在职学历</td>
			<td class='input-group-inline input-group-sm'>
				<input type="text" disabled
							 class="form-control" value="{{ per['ot_edu_lv'] or '' }}"
							 placeholder="暂无"/>
			</td>
			<td>入学时间</td>
			<td class='input-group-inline input-group-sm'>
				<input type="text" disabled
							 class="form-control" value="{{ per['ot_edu_in_time'] or '' }}"
							 placeholder="暂无"/>
			</td>
			<td>毕业时间</td>
			<td class='input-group-inline input-group-sm'>
				<input type="text" disabled
							 class="form-control" value="{{ per['ot_edu_time'] or '' }}"
							 placeholder="暂无"/>
			</td>
			<td>毕业院校</td>
			<td class='input-group-inline input-group-sm'>
				<input type="text" disabled
							 class="form-control" value="{{ per['ot_edu_name'] or '' }}"
							 placeholder="暂无"/>
			</td>
			<td>专业</td>
			<td class='input-group-inline input-group-sm'>
				<input type="text" disabled
							 class="form-control" value="{{ per['ot_edu_dept'] or '' }}"
							 placeholder="暂无"/>
			</td>
			<td>学习形式</td>
			<td class='input-group-inline input-group-sm'>
				<input type="text" disabled
							 class="form-control" value="{{ per['ot_edu_learn_form'] or '' }}"
							 placeholder="暂无"/>
			</td>
		</tr>
		<tr>
			<td>档案备注</td>
			<td class='input-group-inline input-group-sm' colspan="11">
				<input type="text" id="remarks_2"
							 class="form-control" value="{{ per['remarks_2'] or '' }}"
							 placeholder="空"/>
			</td>
		</tr>
		</tbody>
	</table>
</div>