<div class="info-tab mt-2">
  <table class="table table-bordered text-center">
    <tbody id="info-tbody">
    <tr>
      <td>编号</td>
      <td class='input-group-inline input-group-sm'>
        <input type="text" id="cadre_id"
               class="form-control" value=""
               placeholder="请输入..."/>
      </td>
      <td>单位简称</td>
      <td colspan="2" class='input-group-inline input-group-sm'>
        <select name="dept_name" id="dept_name" class="form-control">
          {% for name in dept_names %}
            <option value="{{ name[0] }}">{{ name[1] }}</option>
          {% endfor %}
        </select>
      </td>
      <td>系统</td>
      <td class='input-group-inline input-group-sm'>
        <input type="text" id="system" disabled
               class="form-control" value=""
               placeholder="空"/>
      </td>
      <td>单位属性</td>
      <td class='input-group-inline input-group-sm' colspan="2">
        <input type="text" id="dept_pro" disabled
               class="form-control" value=""
               placeholder="空"/>
      </td>
      <td colspan="2" rowspan="5" id="photo_src">
        图片？？？
      </td>
    </tr>
    <tr>
      <td>姓名</td>
      <td class='input-group-inline input-group-sm'>
        <input type="text" id="name"
               class="form-control" value=""
               placeholder="请输入..."/>
      </td>
      <td>性别</td>
      <td class='input-group-inline input-group-sm' colspan="2">
        <div class="form-check form-check-inline">

          <input type="radio" name="sex" id="sex1"
                 class="form-check-input" value="男"/>
          <label for="sex1" class="form-check-label">男</label>
        </div>
        <div class="form-check form-check-inline">

          <input type="radio" name="sex" id="sex2"
                 class="form-check-input" value="女"/>
          <label for="sex2" class="form-check-label">女</label>
        </div>
      </td>
      <td>民族</td>
      <td>:</td>
      <td>专长</td>
      <td colspan="2">:</td>
    </tr>
    <tr>
      <td>身份证号</td>
      <td colspan="4">:</td>
      <td>出生日期</td>
      <td>:</td>
      <td>年龄</td>
      <td colspan="2">:</td>
    </tr>
    <tr>
      <td>政治面貌</td>
      <td>:</td>
      <td>参加工作时间</td>
      <td colspan="2">:</td>
      <td>入党时间</td>
      <td>:</td>
      <td>身份</td>
      <td colspan="2">:</td>
    </tr>
    <tr>
      <td>籍贯</td>
      <td>:</td>
      <td>出生地</td>
      <td colspan="2">:</td>
      <td>工号</td>
      <td>:</td>
      <td>特殊工种年限</td>
      <td colspan="2">:</td>
    </tr>
    <tr>
      <td>荣誉金</td>
      <td></td>
      <td>职务</td>
      <td></td>
      <td>级别</td>
      <td></td>
      <td>调入备注</td>
      <td colspan="5"></td>
    </tr>
    <tr>
      <td>现有职称</td>
      <td></td>
      <td>任副科级年月</td>
      <td></td>
      <td>任正科级年月</td>
      <td></td>
      <td>任现职年月</td>
      <td></td>
      <td>任副总年月</td>
      <td></td>
      <td>任代理年月</td>
      <td></td>
    </tr>
    <tr>
      <td>最高学历</td>
      <td></td>
      <td>入学时间</td>
      <td></td>
      <td>毕业时间</td>
      <td></td>
      <td>毕业院校</td>
      <td></td>
      <td>专业</td>
      <td></td>
      <td>学习形式</td>
      <td></td>
    </tr>
    <tr>
      <td>全日制学历</td>
      <td></td>
      <td>入学时间</td>
      <td></td>
      <td>毕业时间</td>
      <td></td>
      <td>毕业院校</td>
      <td></td>
      <td>专业</td>
      <td></td>
      <td>学习形式</td>
      <td></td>
    </tr>
    <tr>
      <td>在职学历</td>
      <td></td>
      <td>入学时间</td>
      <td></td>
      <td>毕业时间</td>
      <td></td>
      <td>毕业院校</td>
      <td></td>
      <td>专业</td>
      <td></td>
      <td>学习形式</td>
      <td></td>
    </tr>
    <tr>
      <td>档案备注</td>
      <td colspan="11"></td>
    </tr>
    </tbody>
  </table>
</div>