{% extends 'iframe_base.html' %}
{% import 'per/_models.html' as model %}
{% from 'bootstrap/utils.html' import render_static %}
{% block head %}
  <style>
    .form-control{
      border: none;
    }
    .per-content {
      height: 100%;
      width: 100%;
    }
    .per-table {
      padding: 1.2rem 1rem;
      width: 100%;
      height: 100%;
    }
    .tab-content {
      width: 100%;
      min-height: 90%;
    }
    .fade {
      width: 100%;
      height: 90%;
    }
    #info-tbody td {
      font-size: 0.85rem;
      max-height: 1rem;
    }

    #info-tbody td>span{
      display: block;
      padding-top: 0.4rem;
    }

    #info-tbody tr > td > div{
      vertical-align: center;
      display: inline-block;
      padding-top: 0.4rem;
      min-width: 6rem;
    }

    form#add-per {
      width: 100%;
      height: 100%;
    }
    td.index, th.index{
      width: 3em;
      padding-top: 1em;
    }
    table tbody{
      font-size: 0.875rem;
    }
    td.index {
      padding-top: 1.1rem;
    }
    td select {
      min-width: 5rem;
    }

    @media (min-width: 1400px){
      #info-tbody td>span {
        min-width: 6rem;
      }
    }

  </style>
{% endblock %}
{% block content %}
  <div class="iframe-content">
    <div class="search d-flex mb-2">
      <div class="title">{{ title }}</div>
    </div>
    <div class="per-content">
      <form id="{{ form_id }}">
        {% include 'per/infotable.html' %}
        {% if current_user.role.id == 1 %}
          <div class="input-group justify-content-end">
          <button type="submit" class="btn btn-outline-dark
				mr-3">提交</button>
          <button type="reset" class="btn btn-outline-dark
				mr-3">重置</button>
        {% endif %}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
{% block script %}
  {{ render_static('js', 'js/per.js') }}
  {{ render_static('js', 'js/main.js') }}
  <script>
      var temp;

      var img_src = "/static/image/timg.jpg";

      var f_count = myCount();
      f_count.init({{ f_count|default(0) }});

      var r_and_p_count = myCount();
      r_and_p_count.init({{ r_and_p_count|default(0) }});

      var edu_count = myCount();
      edu_count.init({{ edu_count|default(0) }});

      var title_count = myCount();
      title_count.init({{ title_count|default(0) }});

      var resume_count = myCount();
      resume_count.init({{ resume_count|default(0) }});

      var _edu_lv = [];
      {% for temp in edu_lv %}
          temp = [];
          temp.push({{ temp[0] }});
          temp.push("{{ temp[1] }}");
          _edu_lv.push(temp);
      {% endfor %}

      var _learn_from = [];
      {% for temp in learn_form %}
          temp = [];
          temp.push({{ temp[0] }});
          temp.push("{{ temp[1] }}");
          _learn_from.push(temp);
      {% endfor %}

      var _titles = {};
      {% for title in title_names %}
          _titles["{{ title[0] }}"] = ["{{ title[2] }}", "{{ title[3] }}"];
      {% endfor %}

      var _dept_names = {};
      {% for name in dept_names %}
          _dept_names["{{ name[0] }}"] = ["{{ name[2] }}", "{{ name[3] }}"];
      {% endfor %}

      var title_change = function (id) {
          var tds = $('#'+ id).find('td');
          var title_id = tds.eq(3).find('select').val();
          tds.eq(2).find('input').val(_titles[title_id][1]);
          tds.eq(1).find('input').val(_titles[title_id][0]);
      };

      var dept_name_change = function () {
          var dept_id = $('#dept_name').val();
          $('#system').val(_dept_names[dept_id][0]);
          $('#dept_pro').val(_dept_names[dept_id][1]);
      };

      var title_name = "<td class='input-group-inline input-group-sm'>" +
          "<select class='form-control'>" +
          {% for title in title_names %}
              "<option value=\"{{ title[0] }}\">{{ title[1] }}</option>" +
          {% endfor %}
          "</select>" +
          "</td>";

      var handle = {
          _success : function (data) {
              alert(data.message);
              location.reload();
          },
          del: function (id, d_id) {
              if (confirm('确定删除该项么？'))
                  $('#'+id).remove();
          },
          resume_del: function (id) {
              if (confirm('确定删除该项么？'))
                  a_json('/v1/del-resume/'+id, "DELETE", {}, this._success)
          },
          title_del: function (id) {
              if (confirm('确定删除该项么？'))
                  a_json('/v1/del-title/'+id, "DELETE", {}, this._success)
          },
          edu_del: function (id) {
              if (confirm('确定删除该项么？'))
                  a_json('/v1/del-edu/'+id, "DELETE", {}, this._success)
          },
          r_and_p_del: function (id) {
              if (confirm('确定删除该项么？'))
                  a_json('/v1/del-r-and-p/'+id, "DELETE", {}, this._success)
          },
          family_del: function (id) {
              if (confirm('确定删除该项么？'))
                  a_json('/v1/del-family/'+id, "DELETE", {}, this._success)
          }
      };


      $(document).ready(function () {

          {% if current_user.role.id != 1 %}
              $('input').attr('disabled', 'true');
              $('select').attr('disabled', 'true');
          {% endif %}

          $('#img-input').bind('change', function () {
              upLoadImage(this.files[0], 'photo_src');
              img_src = $('#photo_src').attr('src');
          });

          // 监听form表单
          $('#add-per').bind('submit', function () {
              if ($('#name').val() === ""){
                  alert('姓名不能为空！');
                  return false;
              }

              if ($('#duty').val() === ""){
                  alert('职务不能为空！');
                  return false;
              }

              if ($('#id_card').val() === "" || $('#id_card').val().length !==
                  18){
                  alert('身份证号不能为空或不是18位！');
                  return false;
              }

              var data = JSON.stringify({
                  families: get_families(),
                  r_and_p: get_r_and_p(),
                  edus: get_edu(),
                  titlies: get_title(),
                  resumes: get_resume(),
                  info: get_info()
              });

              var _success = function (data) {
                  alert(data.message);
                  location.href = '/search';
              };

              a_json(
                  '/v1/manage-per',
                  'POST',
                  data,
                  _success,
                  false
              );

              return false;
          });

          $('#edit-per').bind('submit', function () {
              if ($('#name').val() == ""){
                  alert('姓名不能为空！');
                  return false;
              }
              if ($('#duty').val() == ""){
                  alert('职务不能为空！');
                  return false;
              }
              if ($('#id_card').val() === "" || $('#id_card').val().length !==
                  18){
                  alert('身份证号不能为空或不是18位！');
                  return false;
              }
              var url = window.location.href;
              var pros = url.split('/');
              var id = pros[pros.length - 1];
              var data = JSON.stringify({
                  id: id,
                  families: get_families(),
                  r_and_p: get_r_and_p(),
                  edus: get_edu(),
                  titlies: get_title(),
                  resumes: get_resume(),
                  info: get_info()
              });

              var _success = function (data) {
                  alert(data.message);
                  location.reload();
              };

              a_json(
                  '/v1/manage-per',
                  'POST',
                  data,
                  _success
              );

              return false;
          })
      });
  </script>

{% endblock %}