<div class="new-resume">
	{% if current_user.role.id == 1 %}
		<button class="btn btn-outline-dark" type="button" id="add-resume-tr">
			+ 新增
		</button>
	{% endif %}
</div>
<div class="resume-tab mt-2">
	<table class="table table-bordered text-center">
		<thead>
		<tr>
			<th class="index">序&nbsp;&nbsp;号</th>
			<th>变动时间</th>
			<th>单位</th>
			<th>职务</th>
			<th>任职文号</th>
			<th>任职时间</th>
			<th>操作</th>
		</tr>
		</thead>
		<tbody id="resume-tbody">
		{% for (index, resume) in enumerate(per['resumes']) %}
			{% set resume = resume.to_json() %}
			<tr>
				<td class="index">{{ index + 1 }}</td>
				<td class="input-group-inline input-group-sm">
					<input type="text" class="form-control mydate" placeholder="空"
								 value="{{ resume['change_time'] or '' }}">
				</td>
				<td class="input-group-inline input-group-sm">
					<input type="text" class="form-control" placeholder="空"
								 value="{{ resume['dept'] or '' }}">
				</td>
				<td class="input-group-inline input-group-sm">
					<input type="text" class="form-control" placeholder="空"
								 value="{{ resume['duty'] or '' }}">
				</td>
				<td class="input-group-inline input-group-sm">
					<input type="text" class="form-control" placeholder="空"
								 value="{{ resume['identifier'] or '' }}">
				</td>
				<td class="input-group-inline input-group-sm">
					<input type="text" class="form-control mydate" placeholder="空"
								 value="{{ resume['work_time'] or '' }}">
				</td>
				<td class="input-group-inline input-group-sm">
					<a href="#" onclick="handle.resume_del('{{ resume.id }}')"
						 class="btn btn-link btn-sm	">删除</a>
				</td>
				<td hidden>
					<input type="text" value="{{ resume.id }}" style="display: None;">
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>