<div class="new-title">
	{% if current_user.role.id == 1 %}
		<button class="btn btn-outline-dark" type="button" id="add-title-tr">
			+ 新增
		</button>
	{% endif %}
</div>
<div class="title-tab mt-2">
	<table class="table table-bordered text-center">
		<thead>
		<tr>
			<th class="index">序&nbsp;&nbsp;号</th>
			<th>职称系列</th>
			<th>级别</th>
			<th>现有职称</th>
			<th>职称专业</th>
			<th>取得时间</th>
			<th>证书编号</th>
			<th>在聘</th>
			<th>聘任时间</th>
			<th>备注</th>
			<th>操作</th>
		</tr>
		</thead>
		<tbody id="title-tbody">
		{% for (index, title) in enumerate(per['titlies']) %}
			{% set title = title.to_json() %}
			<tr id="title-{{ index + 1 }}">
				<td class="index">{{ index + 1 }}</td>
				<td class="input-group-inline input-group-sm">
					<input type="text" class="form-control"
								 disabled="" placeholder="空"
								 value="{{ title['dept'] or '' }}" />
				</td>
				<td class="input-group-inline input-group-sm">
					<input type="text" class="form-control"
								 disabled="" placeholder="空"
								 value="{{ title['lv'] or '' }}" />
				</td>
				<td class="input-group-inline input-group-sm" onchange="title_change('title-{{ index + 1 }}')">
					<select class="mt-1">
						{% for name in title_names %}
							<option value="{{ name[0] }}"
											{% if name[1] == title['name'] %}
											selected
											{% endif %}

							>
								{{ name[1] }}
							</option>

						{% endfor %}
					</select>
				</td>
				<td class="input-group-inline input-group-sm">
					<input type="text" class="form-control"
								 placeholder="空"
								 value="{{ title['major'] or '' }}" />
				</td>
				<td class="input-group-inline input-group-sm">
					<input type="text" class="form-control mydate"
								 placeholder="空"
								 value="{{ title['get_time'] or '' }}" />
				</td>
				<td class="input-group-inline input-group-sm">
					<input type="text" class="form-control"
								 placeholder="空"
								 value="{{ title['page_no'] or '' }}" />
				</td>
				<td class="input-group-inline input-group-sm">
					<select class="mt-1">

						<option value="true"
										{% if title['engage'] == '是' %}selected{% endif %}>
							是
						</option>
						<option value="false" {% if title['engage'] == '否' %}
										selected{% endif %}>否</option>
					</select>
				</td>
				<td class="input-group-inline input-group-sm">
					<input type="text" class="form-control"
								 placeholder="空"
								 value="{{ title['engage_time'] or '' }}" />
				</td>
				<td class="input-group-inline input-group-sm">
					<input type="text" class="form-control"
								 placeholder="空"
								 value="{{ title['remarks'] or '' }}" />
				</td>
				<td class="input-group-inline input-group-sm">
					<a href="#" class="btn btn-link btn-sm"
						 onclick="handle.title_del('{{ title.id }}')"
					>删除</a>
				</td>
				<td hidden>
					<input type="text" value="{{ title.id }}" style="display: None;">
				</td>
			</tr>
		{% endfor %}

		</tbody>
	</table>
</div>