<div class="modal fade" id="help">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<!-- 模态框头部 -->
			<div class="modal-header">
				<h4 class="modal-title">帮 助</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- 模态框主体 -->
			<div class="modal-body">
				<h5><b>查询</b></h5>
				<ol type="I">
					<li>
						如需同时查询多个关键词，请使用|将关键词分开，其中不能有空格！<br/>
						例如：张三|李四
					</li>
					<li>
						如需完全匹配查询关键词，请使用 [[:<:]] 和 [[:>:]] 或者^ 和 $ 将关键词包裹其中! <br>
						例如：[[:<:]]副总[[:>:]] 以及 ^矿长$（完全匹配：查询内容将和关键词完全一致）
					</li>
				</ol>
				<h5><b>导入</b></h5>
				<ol type="I">
					<li>
						导入员工前请先下载实例excel表, 该表中有详细说明。
					</li>
					<li>
						导入员工照片可拖入整个文件夹
					</li>
				</ol>
			</div>
		</div>
	</div>
</div>