{% from 'bootstrap/utils.html' import render_static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	{{ bootstrap.load_css() }}
	{{ render_static('css', 'css/iframe.css') }}
	{{ render_static('css', 'css/bootstrap-datepicker3.css') }}
	{% block head %}{% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
<div class="modal fade" id="loading">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				文件生成中.....稍后将自动下载！
			</div>

			<!-- 模态框底部 -->
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary"
								data-dismiss="modal">
					关闭
				</button>
			</div>
		</div>
	</div>
</div>
{{ bootstrap.load_js() }}
{{ moment.include_moment() }}
{{ moment.lang("zh-cn") }}
{{ render_static('js', 'js/_ajax.js') }}
{{ render_static('js', 'js/manage.js') }}
{{ render_static('js', 'js/iframe.js') }}
{{ render_static('js', 'js/bootstrap-datepicker.js') }}
{{ render_static('js', 'locales/bootstrap-datepicker.zh-CN.min.js') }}

<script>
    $(document).ready(function () {
        $('.mydate').datepicker({
            language: "zh-CN"
        });

        $('#update-pwd').bind('submit', function () {
            var old_pwd = $('#old-pwd').val();
            var pwd = $('#pwd').val();
            var pwd2 = $('#pwd2').val();
            if (pwd !== pwd2){
                alert('两次输入的新密码不一致！');
                return false
            }
            var data = JSON.stringify(
                {
                    'old_pwd': old_pwd,
                    'pwd': pwd,
                    'pwd2': pwd2,
                    'id': 1
                });

            var _success = function (data) {
                alert(data.message);
                setTimeout(function () {
                    parent.location.href = '/main';
                }, 2000);
            };

            a_json("{{ url_for('v1.update_pwd') }}", "POST", data,
                _success);

            return false;
        });

        $('#u-add').bind('submit', function () {
            var data = JSON.stringify({
                username: $('#u-name').val(),
                password: $('#u-pwd').val(),
                new: true
            });
            var _success = function (data) {
                alert(data.message);
                $('#uAdd').modal('hide');
                setTimeout(function () {
                    location.href = '/system-manage/user';
                }, 1000);
            };

            a_json(
                "{{ url_for('v1.manage_user') }}",
                "POST",
                data,
                _success);
            return false;
        });

        $('#add-duty').bind('submit', function () {
            var data = JSON.stringify({
                name: $('#i-new-duty').val(),
                lv_id: $('#select_lv_1').val(),
                order: $('#order_1').val(),
                'new': true
            });
            var _success = function (data) {
                alert(data.message);
                $('#new-duty').modal('hide');
                setTimeout(function () {
                    location.href = '/system-manage/duty';
                }, 1000);
            };

            a_json(
                "{{ url_for('v1.manage_duty') }}",
                "POST",
                data,
                _success);
            return false;
        });

        $('#add-dept').bind('submit', function () {
            var data = JSON.stringify({
                name: $('#i-new-dept').val(),
                order: $('#order_1').val(),
                full_name: $('#full_name_1').val(),
                system_id: $('#system_1').val(),
                dept_pro_id: $('#dept_pro_1').val(),
                'new': true
            });
            var _success = function (data) {
                alert(data.message);
                $('#new-dept').modal('hide');
                setTimeout(function () {
                    location.href = '/system-manage/dept';
                }, 1000);
            };
            a_json(
                "{{ url_for('v1.manage_dept') }}",
                "POST",
                data,
                _success);
            return false;
        });

        $('#fileUpLoad').bind('change', function () {
            var file = checkFile();
            if (!file) {
                return false;
            }
        });

        $('#field-button').bind('click', function () {
            var fields = $('#cs-form').find('input[name="fields"]:checked');
            var data = {
                fields: []
            };

            fields.each(function (i, e) {
                data.fields.push($(e).val())
            });

            var _success = function (data) {
                alert(data.message);
                setTimeout(function () {
                    location.reload();
                }, 100);
            };

            data = JSON.stringify(data);
            a_json(
                "{{ url_for('v1.update_field') }}",
                "POST",
                data,
                _success);

        });
    });
</script>
{% block script %}
{% endblock %}
</body>
</html>