{% from 'bootstrap/utils.html' import render_static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	{{ bootstrap.load_css() }}
	{{ render_static('css', 'css/iframe.css') }}
	{{ render_static('css', 'css/bootstrap-datepicker3.css') }}
	<style>
		body {
			width: 100%;
			height: 85vh;
		}
		.content {
			width: 100%;
			height: 100%;
		}
		::-webkit-scrollbar {
			width: 8px;
			height: 8px;
		}
		/*正常情况下滑块的样式*/
		::-webkit-scrollbar-thumb {
			background-color: rgba(39, 85, 130, 0.12);
			border-radius: 10px;
		{#			-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);#}
		}
		/*鼠标悬浮在该类指向的控件上时滑块的样式*/
		:hover::-webkit-scrollbar-thumb {
			background-color: rgba(0,0,0,.2);
			border-radius: 10px;
			-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);
		}
		/*鼠标悬浮在滑块上时滑块的样式*/
		::-webkit-scrollbar-thumb:hover {
			background-color: rgba(0,0,0,.4);
			-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);
		}
		/*正常时候的主干部分*/
		::-webkit-scrollbar-track {
			border-radius: 10px;
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
			background-color: white;
		}
		/*鼠标悬浮在滚动条上的主干部分*/
		::-webkit-scrollbar-track:hover {
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.4);
			background-color: rgba(0,0,0,.01);
		}
	</style>
	{% block head %}

	{% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
{{ bootstrap.load_js() }}
{{ moment.include_moment() }}
{{ moment.lang("zh-cn") }}
{{ render_static('js', 'js/_ajax.js') }}
{{ render_static('js', 'js/manage.js') }}
{{ render_static('js', 'js/bootstrap-datepicker.js') }}
{{ render_static('js', 'locales/bootstrap-datepicker.zh-CN.min.js') }}

<script>
    $(document).ready(function () {
        $('.mydate').datepicker({
            language: "zh-CN"
        });

        var checkeds = document.getElementsByName("per-id");

        $('#all-check').bind('click', function () {
            for (var i=0; i < checkeds.length; i++) {
                checkeds[i].checked = true
            }
        });

        $('#reverse-check').bind('click', function () {
            for (var i=0; i < checkeds.length; i++) {
                checkeds[i].checked = !checkeds[i].checked
            }
        });

        $('#coordinator').bind('click', function () {
            var ids= [];
            $('input[name="per-id"]:checked').map(function (i, e) {
                ids.push($(e).val())
            });
            if (ids.length === 0) {
                alert('请选择至少一个人进行调配！');
                return false;
            }
            if (confirm("请确认，即将更改这些人员的数据！"))
                a_json(
                    "/v1/choice-state",
                    "UPDATE",
                    JSON.stringify(
                        {
                            'ids': ids,
                            'state': 4
                        }
                    ),
                    function (data) {
                        alert(data.message);
                        window.location.reload()
                    }
                )
        });

        $('#transfer').bind('click', function () {
            var ids= [];
            $('input[name="per-id"]:checked').map(function (i, e) {
                ids.push($(e).val())
            });
            if (ids.length === 0) {
                alert('请选择至少一个人进行调配！');
                return false;
            }
            if (confirm("请确认，即将更改这些人员的数据！"))
                a_json(
                    "/v1/choice-state",
                    "UPDATE",
                    JSON.stringify(
                        {
                            'ids': ids,
                            'state': 5
                        }
                    ),
                    function (data) {
                        alert(data.message);
                        window.location.reload()
                    }
                )
        });

        $('#punished').bind('click', function () {
            var ids= [];
            $('input[name="per-id"]:checked').map(function (i, e) {
                ids.push($(e).val())
            });
            if (ids.length === 0) {
                alert('请选择至少一个人进行调配！');
                return false;
            }
            if (confirm("请确认，即将更改这些人员的数据！"))
                a_json(
                    "/v1/punished",
                    "UPDATE",
                    JSON.stringify(
                        {'ids': ids}
                    ),
                    function (data) {
                        alert(data.message);
                        window.location.reload()
                    }
                )
        });

        $('#choice_state').bind('click', function () {
            var ids= [];
            $('input[name="per-id"]:checked').map(function (i, e) {
                ids.push($(e).val())
            });
            if (ids.length === 0) {
                alert('请选择至少一个人进行调配！');
                return false;
            }
            if (confirm("请确认，即将更改这些人员的数据！"))
                a_json(
                    "/v1/choice-state",
                    "UPDATE",
                    JSON.stringify(
                        {
                            'ids': ids,
                            'state': $('input[name="state"]:checked').val()
                        }
                    ),
                    function (data) {
                        alert(data.message);
                        window.location.reload()
                    }
                )
        });

        $('#choice-s-btn').bind('click', function () {
            var per_id = $('input[name="per-id"]:checked');
						if (per_id.length > 1) {
                alert('选择人数不要超过1个！谢谢合作！');
                return false;
            }
            else if (per_id.length === 0) {
                alert('请选择一个人进行调动！');
                return false;
            }
            this.modal('show');
        });

        $('#w-m-btn').bind('click', function () {
            var per_id = $('input[name="per-id"]:checked');
						if (per_id.length > 1) {
                alert('选择人数不要超过1个！谢谢合作！');
                return false;
            }
            else if (per_id.length === 0) {
                alert('请选择一个人进行调动！');
                return false;
            }
            this.modal('show');
        });

        $('#work-move-form').bind('submit', function () {
            var per_id = $('input[name="per-id"]:checked');
            var id = per_id.val();
            if (confirm("请确认，即将更改人员的数据！"))
                a_json(
                    "/v1/work-move",
                    "UPDATE",
                    JSON.stringify(
                        {
                            'id': id,
                            'dept_id': $('#dept-id').val(),
                            'duty_name': $('#duty-name').val(),
                            'duty_lv': $('#duty-lv').val(),
                            'identifier': $('#identifier').val(),
                            'work_time': $('#work_time').val()
                        }
                    ),
                    function (data) {
                        alert(data.message);
                        window.location.reload()
                    }
                )
						return false;
        });

        $('#del_per').bind('click', function () {
            var ids= [];
            $('input[name="per-id"]:checked').map(function (i, e) {
                ids.push($(e).val())
            });
            if (confirm("请确认，即将删除这些人员的数据！此操作不可逆！"))
                a_json(
                    "/v1/del_per",
                    "DELETE",
                    JSON.stringify(
                        {
                            'ids': ids
                        }
                    ),
                    function (data) {
                        alert(data.message);
                        window.location.reload()
                    }
                )
        });

        $('#update-pwd').bind('submit', function () {
            var old_pwd = $('#old-pwd').val();
            var pwd = $('#pwd').val();
            var pwd2 = $('#pwd2').val();
            if (pwd !== pwd2){
                alert('两次输入的新密码不一致！');
                return false
            }
            var data = JSON.stringify(
                {
                    'old_pwd': old_pwd,
                    'pwd': pwd,
                    'pwd2': pwd2,
                    'id': 1
                });

            var _success = function (data) {
                alert(data.message);
                setTimeout(function () {
                    parent.location.href = '/main';
                }, 2000);
            };

            a_json("{{ url_for('v1.update_pwd') }}", "POST", data,
                _success);

            return false;
        });

        $('#u-add').bind('submit', function () {
            var data = JSON.stringify({
                username: $('#u-name').val(),
                password: $('#u-pwd').val(),
                new: true
            });
            var _success = function (data) {
                alert(data.message);
                $('#uAdd').modal('hide');
                setTimeout(function () {
                    location.href = '/system-manage/user';
                }, 1000);
            };

            a_json(
                "{{ url_for('v1.manage_user') }}",
                "POST",
                data,
                _success);
            return false;
        });

        $('#add-duty').bind('submit', function () {
            var data = JSON.stringify({
                name: $('#i-new-duty').val(),
                lv_id: $('#select_lv_1').val(),
                order: $('#order_1').val(),
                'new': true
            });
            var _success = function (data) {
                alert(data.message);
                $('#new-duty').modal('hide');
                setTimeout(function () {
                    location.href = '/system-manage/duty';
                }, 1000);
            };

            a_json(
                "{{ url_for('v1.manage_duty') }}",
                "POST",
                data,
                _success);
            return false;
        });

        $('#add-dept').bind('submit', function () {
            var data = JSON.stringify({
                name: $('#i-new-dept').val(),
                order: $('#order_1').val(),
                full_name: $('#full_name_1').val(),
                system_id: $('#system_1').val(),
                dept_pro_id: $('#dept_pro_1').val(),
                'new': true
            });
            var _success = function (data) {
                alert(data.message);
                $('#new-dept').modal('hide');
                setTimeout(function () {
                    location.href = '/system-manage/dept';
                }, 1000);
            };
            a_json(
                "{{ url_for('v1.manage_dept') }}",
                "POST",
                data,
                _success);
            return false;
        });

        $('#fileUpLoad').bind('change', function () {
            var file = checkFile();
            if (!file) {
                return false;
            };
        })
    });
</script>
{% block script %}
{% endblock %}
</body>
</html>