{% extends 'iframe_base.html' %}
{% from 'bootstrap/utils.html' import render_static %}
{% block head %}
	{{ render_static('css', 'css/fileinput.min.css') }}
	{{ render_static('css', 'css/b3.css') }}
	<style>
	.explain {
		margin-bottom: 1rem;
		font-size: 1.5rem;
		font-weight: 600;
	}
	</style>
{% endblock %}

{% block content %}
	<div class="iframe-content">
		<div class="search d-flex flex-row">
			<div class="title">导入成员</div>
		</div>
		<div class="container mt-5" style="height: 500px">
			<div class="explain">
				<a href="/download/上传示例.xls" class="btn btn-primary"
					 id="upload_example">下载示例excel表</a>
				<button class="btn btn-success" id="exprot_all">导出所有成员资料</button>
			</div>

			<div class="explain">使用excel文件导入</div>
			<input id="import_excel" type="file" accept="application/vnd.ms-excel">
		</div>
	</div>
{% endblock %}

{% block script %}
	{{ render_static('js', 'js/fileinput.min.js') }}
	{{ render_static('js', 'js/zh.js') }}
	<script>
      function initFileInput(ctrlName, uploadUrl) {
          var control = $('#' + ctrlName);
          control.fileinput({
              language: 'zh', //设置语言
              uploadUrl: uploadUrl, //上传的地址
              allowedFileExtensions : ['xls'],//接收的文件后缀
              showCaption: true,
							dropZoneEnabled: false,
              showUpload: true,
              showRemove: true,
              showClose: true,
              initialPreviewShowDelete: true,
              browseClass: 'btn btn-primary',
              maxFileCount: 1
          });
          $('#import_excel').on('fileuploaded', function (event, data, previewId, index) {
							alert(data.response.success);
							// window.parent.location.reload();
          })
      }

			initFileInput('import_excel', '/import-excel');

	</script>
{% endblock %}