<ul class="nav flex-column ">
	{% for system in systems %}
		<li class="nav-item">
			<a href="#system{{ system.id }}" class="nav-link"
			   data-toggle="collapse"
			   role="button" aria-expanded="false"
			   aria-controls="system{{ system.id }}">
				{{ system.system_name }}
			</a>
			<div class="collapse left-list" id="system{{ system.id }}">
				<div class="d-flex flex-column align-items-start ml-1">
					{% for dept in system['depts'] %}
						<a href="#" onclick="search_dept(this)" data-id="{{ dept.id }}">
							{{ dept.dept_name }}({{ dept.dept_pro.dept_pro_name
								}})
						</a>
					{% endfor %}
				</div>
			</div>
		</li>
	{% endfor %}
</ul>