<div class="search-table">
	<table class="table table-bordered">
		<thead>
		<th>选择</th>
		{% for field in fields %}
			<th>{{ field }}</th>
		{% endfor %}
		</thead>
		<tbody>
		{% for per in pers %}
			<tr>
				<td><input type="checkbox" value="{{ per['id'] }}" name="per-id"></td>
				<td>
					<a href="{{ url_for('per.edit_per', _id=per['id']) }}">
						{{ per['data'].pop(0) }}
					</a>
				</td>
				{% for p in per['data'] %}
					<td>{{ p }}</td>
				{% endfor %}
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
