{% extends 'iframe_base.html' %}
{% block head %}
	<style>
		.iframe-content{
			width: 100%;
			height: 100%;
		}
		.info_mange {
			padding: 8px 16px;
			width: 100%;
		}

		.search {
			height: 3rem;
			background-color: #0c3e67;
			justify-content: center;
			border-radius: 12px 12px 0 0;
		}
		.title {
			padding-top: .3rem;
			padding-left: 1.5rem;
			font-size: 1.5rem;
			color: white;
			font-family: 宋体, sans-serif;
			font-weight: bold;
		}
		.search-table {
			overflow: auto;
			width: 100%;
			height: 100%;
		}
{#		.search-table table{#}
{#			width: 2000px;#}
{#			border: 1px solid black;#}
{#		}#}
	</style>
{% endblock %}
{% block content %}
	<div class="iframe-content">
		{% block search %}
			<div class="search d-flex">
				<div class="title">人员信息管理</div>
				<form class="form-inline ml-auto mr-4">
					<input class="form-control-sm mr-sm-2 my-2 my-lg-0" type="search"
						   placeholder="姓名/拼音" aria-label="Search">
					<button class="btn btn-sm btn-outline-light my-2 my-sm-0 ml-2"
							type="submit">搜索</button>
					<button class="btn btn-sm btn-outline-light my-2 my-sm-0 ml-2"
							type="button">条件搜索</button>
				</form>
			</div>
		{% endblock %}
		<div class="info_mange">
			<button type="button" class="btn btn-sm btn-link mr-3">
				全 选
			</button>
			<button type="button" class="btn btn-sm btn-info mr-3">
				在 职
			</button>
			<button type="button" class="btn btn-sm btn-warning mr-3">
				协 理
			</button>
			<button type="button" class="btn btn-sm btn-secondary mr-3">
				调 离
			</button>
			<button type="button" class="btn btn-sm btn-danger mr-3">
				受 处 分
			</button>
			<button type="button" class="btn btn-sm btn-success">
				调 动
			</button>
		</div>
		{% include 'personel_list.html' %}
	</div>
{% endblock %}